@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Dark Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #090a0f;
}
::-webkit-scrollbar-thumb {
  background: #1f2433;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2e364d;
}
